{% extends "auth.html" %}
{% block title %}About{% endblock title %}
{% block form %}
<h1 class="text-center">About Us</h1>
<div class="card p-1">
<h2>Learn More About CapStone</h2>
<p>
    Welcome to our social interaction platform — a simple, clean, and user-friendly space built using Python Flask, where connecting with people becomes effortless. Our website allows users to create their own accounts, update personal profiles, and share moments through posts, images, and meaningful content. Every user can explore posts shared by others, appreciate them through likes, and engage through comments. The platform also features a smooth friend request system, where users can discover others, send or receive requests, accept or decline connections, and grow their social circle. Designed with simplicity and clarity in mind, our website ensures a seamless browsing experience, secure authentication, and an organized interface for interacting with the community. Whether you're here to express, connect, or explore, our space is crafted to bring people closer — one post, one profile, and one connection at a time.
</p>
<p>
    Everything is designed to feel easy, comfortable, and welcoming — just like talking to a friend. Whether you're here to share something meaningful or simply explore what others are up to, we're happy to have you with us. 💛
</p>
<h5>                                      --Made With Love By <span class="hero-bg-2">Capstone</span></h5>
</div>
{% endblock form %}